body {
  background-image: linear-gradient(to bottom right, rgb(224, 249, 255), rgb(98, 213, 255), rgb(14, 182, 212));
}

.title-container {
  width: 100%;
  text-align: center;
}

.mainTitle {
  position: relative;
  font-size: 70px;
  font-family: "Wendy One";
  margin-bottom: 30px;
}

.secondTitle {
  position: relative;
  font-size: 18px;
  font-family: "Donegal One";
  margin: 0;
}

.quote-pic {
  width: 100%;
  text-align: center;
}

.image {
  border: 4px solid;
  border-radius: 2rem;
  border-color: rgb(0,0,0) rgb(0,0,0) rgb(0,0,0) rgb(0,0,0);
}

figcaption {
  font-size: 22px;
  font-family: 'Playfair Display', serif;
  color: black;
}

.intro-text {
  font-family: 'Fira Sans', sans-serif;
  font-size: 45px;
}

.shortInfo {
  width: 100%;
}

.facts-intro {
  font-size: 50px;
}

li {
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
}

.quote-main {
  font-family: 'Dancing Script', Arial;
  font-size: 80px;
}

cite {
  font-size: 40px;
  font-family: 'Signika Negative', sans-serif;
}

.quoteImage-container {
  text-align: center;
  width: 100%;
}

.image-quote {
  height: 400px;
  width: auto;
}

.ending {
  font-family: "monaco";
  font-size: 50px;
  font-weight: 700;
}
